<%= form_with(model: village, local: true) do |form| %>
  <% if village.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(village.errors.count, "error") %> prohibited this village from being saved:</h2>

      <ul>
      <% village.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :villager %>
    <%= form.number_field :villager %>
  </div>

  <div class="field">
    <%= form.label :wolf %>
    <%= form.number_field :wolf %>
  </div>

  <div class="field">
    <%= form.label :seer %>
    <%= form.number_field :seer %>
  </div>

  <div class="field">
    <%= form.label :hunter %>
    <%= form.number_field :hunter %>
  </div>

  <div class="field">
    <%= form.label :madman %>
    <%= form.number_field :madman %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
