<div id="chat_field">
<% @chats&.each do |chat| %>
  <p><%= chat.user.name %>: <%= chat.body %></p>
<% end %>
</div>

<form>
  <input type="text" value="<%= @village.id %>" id="village_id" name="village_id" style="display:none;" readonly>
  <input type="text" data-behavior="discussion_speaker" onkeydown="if((event.ctrlKey||event.metaKey)&&event.keyCode==13){chat_send(this.parentNode.children[1])}">
  <button type="button" onclick="chat_send(this.parentNode.children[1])">送信</button>
</form>

<hr>

<p>
  <strong>Name:</strong>
  <%= @village.name %>
</p>

<p>
  <strong>この村のホストは:</strong>
  <%= @host.email %>さんによって作られました
</p>

<%# TODO ここ、アクティブユーザーのみのスコープをつける必要あり %>
<p>現在<%= @village.users.count %>人参加しています</p>
<ul>
<% @village.users.each do |villager| %>
  <li><%= villager.name %>(<%= villager.email %>)</li>
<% end %>
</ul>

<% if current_user.current_village == @village.id %>
  <%= link_to 'この村から退出する', leave_village_path(@village) %>
<% elsif current_user.current_village.nil? %>
  <%= link_to 'この村に参加する', join_village_path(@village) %>
<% end %>

<% if current_user.id == @host.id %>
  <%= link_to '村の設定を変更する', edit_village_path(@village) %>
  <%= link_to 'ゲームを開始する' %>
  <%= link_to 'この村を破壊する', @village, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>


