<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @village.name %>
</p>

<p>
  <strong>この村のホストは:</strong>
  <%= @host.email %>さんによって作られました
</p>

<%= link_to 'Edit', edit_village_path(@village) %> |
<%= link_to 'Back', villages_path %>
