<div id="chat">
  <% @chats&.each do |chat| %>
    <p><%= chat.body %></p>
  <% end %>
</div>

<form onsubmit="discussion_send(this.children[1]);return false;">
  <label>Say something:</label>
  <input type="text" data-behavior="discussion_speaker" onkeydown="if((event.ctrlKey||event.metaKey)&&event.keyCode==13){console.log('hoge')};">
</form>

<hr>

<p>
  <strong>Name:</strong>
  <%= @village.name %>
</p>

<p>
  <strong>この村のホストは:</strong>
  <%= @host.email %>さんによって作られました
</p>

<p>現在n人参加しています</p>

<%= link_to 'この村に参加する' %>

<% if current_user.id == @host.id %>
  <%= link_to 'Edit', edit_village_path(@village) %>
  <%= link_to 'ゲームを開始する' %>
  <%= link_to 'この村を破壊する', @village, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>


